<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Our Team</title>
  <link rel="stylesheet" href="aboutcss.css"
</head>

<body>

  <div class ="team-section">
    <h1 id="hii">Our Team</h1>
    <span class="border"></span>
  <div class="ps">
    <a href="#zack"><img src="zack.jpg" alt=""></a>
    <a href="#john"><img src="john.JPG" alt=""></a>
    <a href="#jesus"><img src="jesus.jpg" alt=""></a>
    <a href="#jesi"><img src="jesi.jpg" alt=""></a>
  </div>

  <div class="section" id= "zack">
    <span class="name">Zachary Johnston</span>
    <span class="border"></span>
    <p>
      UC San Diego | BS 2021 | Depth in Electronic Circuit Systems | Software Team
    </p>
  </div>
<div class="section" id= "john">
  <span class="name">Kwok Hung John Ho</span>
  <span class="border"></span>
  <p>
    UC San Diego | BS 2021 | Depth in Machine Learning and Controls | Software Team
  </p>
</div>
<div class="section" id= "jesus">
  <span class="name">Jesus Fausto Villalvazo</span>
  <span class="border"></span>
  <p>
    UC San Diego | BS 2021 | Depth in Computer System Design | Hardware Team
  </p>
</div>
<div class="section" id= "jesi">
  <span class="name">Jesi Miranda</span>
  <span class="border"></span>
  <p>
    UC San Diego | BS 2021 | Depth in Power | Hardware Team
  </p>
</div>

</div>

<div class ="vision-section">
  <h1 id="hii">Our Vision</h1>
  <span class="border"></span>
  <p id="vision">Bring perfection and delight to iced coffee lovers through an all-in-one IoT coffee maker</p>
</div>

</body>

</html>
