<Title>Pricing</Title>
<link rel="stylesheet" type="text/css" href="pricing.css">

<div class="pricing-table-wrapper">
    <ul class="pricing-table">
      <li class="pricing-table__item">
        <img src="logo.png" class="pricing-table__img" />
        <h3 class="pricing-table__title">IoT Polar Coffee Machine</h3>
        <p class="pricing-table__description">
          <span class="pricing-table__tagline"></span>
          <span class="pricing-table__price">$300</span>
          <span class="pricing-table__label">X1 Coffee pod subscription (0.5 cents/mo)</span>
          <span class="pricing-table__save"></span>
        </p>
        <ul class="pricing-table__products">
          <li class="pricing-table__product"><a>Polar Coffee Machine</a></li>
          <li class="pricing-table__product"><a>Secure IoT application</a></li>
          <li class="pricing-table__product"><a>Coffee pod subscription</a></li>
 
        </ul>
        <a href="" class="pricing-table__button">continue</a>
      </li>
    
    </ul>
  </div>