<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="product.css">
<Title>Product Features</Title>
<header>Product Features</header>

<body>
<p>
</p>
<div id="everything">
        <div class="container">
                    <div class="card">
                    <img src="3dcad.png"class="card-img-top">
                    <img src="cooler.jpg"class="card-img-top">
                    <img src="coolerholder.jpg"class="card-img-top">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Cooling Features</h5>
                        <p class="card-text">
                            Users can experience a range of temperatures for their coffee.</br> 
                            Coffee is brewed hot and goes through precooled multistage cooling.</br> 
                            System is electrically cooled through peltiers, heat sinks, and fans.</br>  
                            Insulated thermoses can keep coffee cold for up to 6 hours.</br> 
                            
                        </p>
                        <a href="#" class="btn btn-primary stretched-link"></a>
                    </div>
                </div>
            
        </div>
    

    <div class="container">
        <div class="row">
                <div class="card">
                    <img src="qr.png"class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">IoT & Security Features</h5>
                        <p class="card-text">
                            Connect to the coffee maker through browser and app.</br>
                            Set coffee temperature and time to be ready by.</br>
                            Unique UUID generated QR code for each coffee maker.</br>
                            User log in on browser or app for control.</br>
                            Secure rest database storing user newsletter and account.</br>
                            Secure MQTT communication between coffee maker and database.</br>
                        </p>
                        
                    </div>
                </div>
        </div>
    </div>

   
    <div class="container">
        <div class="row">
                <div class="card">
                    <img src="circuit.jpg"class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Website and Subscription Features</h5>
                        <p class="card-text">
                            Website and landing page for newsletter and deals.</br>
                            Purchase and subscription for products and services</br>
                            Team page and product description/manual.</br>
                            
                        </p>
                        <a href="#" class="btn btn-primary stretched-link"></a>
                    </div>
                </div>
        </div>
    </div>

</div>
</body>



</html>

