up {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  body {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: relative;
  left: 100px;
  top: 150px;
}



.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  position: relative;
  left: 100px;
  top: 150px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  position: relative;
  left: 100px;
  top: 140px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
   position: relative;
  left: 66px;
  top: 160px;
}

img{
  background: rgba(252, 252, 252, 1) !important;
  opacity: 0.3;
}
